<article class="sch">
  <h1 class="sch__title">Сделай расписание красивым</h1>
  <section class="sch__body">

    <section class="drag-n-drop" appUpload (onFileDropped)="uploadFile($event)">
      <input type="file" id="fileDropRef" class="drag-n-drop__file" (change)="chooseFile($event)" hidden/>
      <div class="drag-n-drop__title">
        <h2>Перетащите файл сюда</h2>
        <p>или</p>
      </div>
      <label for="fileDropRef" class="btn btn-primary">Выбрать файл на устройстве</label>
    </section>


    <form class="sch__form">
      <ngx-datepicker name="dateFrom" [(ngModel)]="dateFrom" [options]="optionsFrom"></ngx-datepicker>
      <ngx-datepicker name="dateTo" [(ngModel)]="dateTo" [options]="optionsTo"></ngx-datepicker>
    </form>

  </section>
</article>
